<!DOCTYPE html>
<html>
<head>
  <link href="../libs/fonts.css" rel="stylesheet">
  <link href="../libs/materialdesignicons.min.css" rel="stylesheet">
  <link href="../libs/material-icons.css" rel="stylesheet">
  <link href="../libs/vuetify.min.css" rel="stylesheet">
  <title>Web # Auth page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
<style>
::-webkit-scrollbar {
  width: 0.4em;
  height: 0.4em;
}

::-webkit-scrollbar-thumb:hover {
  background-color: darkorchid;
}
 
::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 8%;
}

::-webkit-scrollbar-track {
  background-color: darkgrey;
}
</style>
</head>

<body>
  <div id="app">
    <v-app>
      <v-system-bar>
        <v-container fluid>
          <v-row>
            <v-col cols="8" lg="11" sm="10">
            </v-col>
            <v-col cols="4" lg="1" sm="2">
              <v-switch
                v-model="$vuetify.theme.dark"
                :prepend-icon="$vuetify.theme.dark ? 'mdi-lightbulb' : 'mdi-lightbulb-outline'"
              >
              </v-switch>
            </v-col>
          </v-row>
        </v-container>
      </v-system-bar>
      <v-main >
        <v-container class="fill-height">

          <user-card :user="user" v-if="user" >
          </user-card>
          <web-cam @token-obtained="token=$event.token" v-else>
          </web-cam>

          <v-footer
            absolute
            padless="padless"
            class="font-weight-medium"
          >
            <v-btn block text href="https://trapov.github.io" target="_blank">
              made by @trapov me
            </v-btn>
          </v-footer>
        </v-container>
      </v-main>
    </v-app>
  </div>

  <script src="../libs/vue.min.js"></script>
  <script src="../libs//vuetify.min.js"></script>
  <script type="module" src="./main.js"></script>
</body>
</html>