<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <v-app>
      <v-main>
        <v-container fluid v-if="currentPage=='users'">
          <v-row align="center" justify="center">
            <v-btn @click="goBack()" v-if="canGoBack()" icon>
              <v-icon>
                mdi-arrow-left
              </v-icon>
            </v-btn>
            <v-btn @click="goForward()" v-if="canGoForward()" icon>
              <v-icon>
                mdi-arrow-right
              </v-icon>
            </v-btn>
          </v-row>

          <v-data-iterator
            :loading="loading"
            :items="usersPage.items"
            :hide-default-footer="true"
          >
            <template v-slot:default="{ items }">
              <v-row>
                <v-col
                  cols="12"
                  sm="6"
                  md="4"
                  lg="3"
                  v-for="item in items"
                  :key="item.id"
                >
                
                  <user-card :item="item" :admin-token="adminToken" />
                </v-col>
              </v-row>
            </template>
          </v-data-iterator>
          <v-row align="center" justify="center">
            <v-btn @click="goBack()" v-if="canGoBack()" icon>
              <v-icon>
                mdi-arrow-left
              </v-icon>
            </v-btn>
            <v-btn @click="goForward()" v-if="canGoForward()" icon>
              <v-icon>
                mdi-arrow-right
              </v-icon>
            </v-btn>
          </v-row>
        </v-container>

        <v-container fluid fill-height v-if="currentPage=='options'">
          <v-row justify="center">
            <v-banner>
              <h2> Current options </h2>
            </v-banner>
          </v-row>
          <v-row justify="center">

            <v-form>
              <v-container fluid>
                <v-row>
                  <v-col
                    cols="12">
                    <v-text-field
                      v-model="settings.name"
                      :rules="settings.strRules"
                      readonly
                      persistent-hint
                      label="name"
                      required
                    >
                    </v-text-field>
                  </v-col>
                  <v-col
                    cols="6">
                    <v-text-field
                      v-model="settings.max_features"
                      :rules="settings.intRules"
                      prepend-icon="face"
                      label="Max features"
                      persistent-hint
                      solo 
                      required
                    ></v-text-field>

                    <v-text-field
                      v-model="settings.base_threshold"
                      :rules="settings.floatRules"
                      label="Base threshold"
                      prepend-icon="mdi-block-helper"
                      persistent-hint
                      solo
                      required
                    ></v-text-field>
                    <v-text-field
                      v-model="settings.rate_of_decreasing_threshold_with_each_feature"
                      :rules="settings.floatRules"
                      label="Decreasing rate of threashold with each feature"
                      prepend-icon="mdi-arrow-down-bold-hexagon-outline"
                      persistent-hint
                      solo
                      required
                    ></v-text-field>
                  </v-col>
                  <v-col
                    cols="6">
                    <v-text-field
                      v-model="settings.resize_factors.x"
                      :rules="settings.floatRules"
                      prepend-icon="mdi-arrow-down-bold-hexagon-outline"
                      label="X resize factor"
                      prepend-icon="mdi-crop"
                      persistent-hint
                      solo
                      required
                    ></v-text-field>
                    <v-text-field
                      v-model="settings.resize_factors.y"
                      :rules="settings.floatRules"
                      label="Y resize factor"
                      prepend-icon="mdi-crop"
                      persistent-hint
                      solo
                      required
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row justify="center">
                  <v-btn
                    dark
                    big
                    icon
                    color="green">
                    Save
                  </v-btn>
                </v-row>
              </v-container>         
            </v-form>
          </v-row>
          <v-row justify="center">
            <v-banner>
              <h2> The other options </h2>
            </v-banner>
          </v-row>
          <v-data-iterator
            :loading="loading"
            :items="[1,2,3,4,5,6,7]"
            :hide-default-footer="true">
            <template v-slot:default="{ items }">
              <v-row>
                <v-col
                  cols="12"
                  sm="6"
                  md="4"
                  lg="3"
                  v-for="item in [1,2,3,4,5,6,7]"
                  :key="item.id"
                >
                  <v-card
                  outlined
                  >
                    <v-container>
                      <v-card-title>
                        Name
                      </v-card-title>
                      <v-row>
                        <v-col
                          cols="6"
                          md="4"
                        >
                          <v-card-text>
                            Max features
                          </v-card-text>
                        </v-col>
                        <v-col
                          cols="6"
                          md="4"
                        >
                          <v-card-text>
                            Base threshold
                          </v-card-text>
                        </v-col>
                        <v-col
                          cols="6"
                          md="4"
                        >
                          <v-card-text>
                            Decreasing rate of threashold with each feature
                          </v-card-text>
                        </v-col>
                        <v-col
                          cols="6"
                          md="4"
                        >
                          <v-card-text>
                            X resize factor
                          </v-card-text>
                        </v-col>
                        <v-col
                          cols="6"
                          md="4"
                        >
                          <v-card-text>
                            Y resize factor
                          </v-card-text>     
                        </v-col>
                      </v-row>
                    </v-container>          
                  </v-card>
              </v-row>
            </template>
          </v-data-iterator>

          </v-row>
          </v-col>
          <v-row align="center" justify="center">
            <v-btn @click="goBackSettings()" v-if="canGoBackSettings()" icon>
              <v-icon>
                mdi-arrow-left
              </v-icon>
            </v-btn>
            <v-btn @click="goForwardSettings()" v-if="canGoForwardSettings()" icon>
              <v-icon>
                mdi-arrow-right
              </v-icon>
            </v-btn>
          </v-row>
        </v-container>

        <v-container fill-height v-if="currentPage=='auth'">
          <v-row align="center" justify="center">
            <v-card>
              <v-card-title>
                Sign-in
              </v-card-title>
              <v-card-text>
                <v-text-field clearable solo-inverted
                v-model="adminToken"
              ></v-text-field>
              </v-card-text>
              <v-card-actions>
                <v-btn text large block v-if="adminToken" @click="goToUsers()">
                  Enter
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-row>
        </v-container>

        <v-bottom-navigation
          v-if="currentPage!='auth'"
          app
        >
          <v-progress-linear
            :active="loading"
            :indeterminate="loading"
            absolute
            top
            color="deep-purple accent-4"
          ></v-progress-linear>

          <v-btn @click="goToUsers()" value="recent">
            <span>Users</span>
            <v-icon>face</v-icon>
          </v-btn>
      
          <v-btn @click="goToOptions()" value="favorites">
            <span>Options</span>
            <v-icon>tune</v-icon>
          </v-btn>
        </v-bottom-navigation>
      </v-main>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script type="module" src="./main.js" ></script>
</body>
</html>